@tailwind base;
@tailwind components;
@tailwind utilities;

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
}

input {
    color-scheme: dark;
}

/* Darkmode Styles for color picker */
.chrome-picker div div div div input {
    box-shadow: none !important;
    color: white !important;
    border-radius: 0.375rem !important;
}

.chrome-picker div div div div svg {
    fill: white !important;
    margin-left: .5rem;
}

.chrome-picker div div div div svg:hover {
    background-color: #0a0a0a !important;
}